:root{
  --mainOpacity: rgba(0, 0, 0, 0.55);
}


.header {
  opacity: var(--mainOpacity);
  height: 25em !important;
}
.nothing-found{
  background-color: rgb(240, 103, 103);
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  width: 90%;
  padding: 20px 0;
  margin: 20px auto;
  color: white;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html{
  overflow-x: hidden;
}

.logo{
  border-radius: 100%;
  width: 150px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}
.welcome{
  background-color: rgb(173, 166, 100);
  color: beige;
  border-radius: 10px;
  padding: 5px 10px;
}
.logout{
  margin: 10px !important;
  font-weight: 600;
  margin: 0; padding: 0;
  color: rgb(173, 166, 100) !important;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.logout:hover{
  color:#827a3e !important;
  border-bottom: 2px solid #827a3e;
}
.nav-item a{
  color: rgb(173, 166, 100) !important;
  font-size: 20px;
}
.nav-item{
  margin-right: 20px;
}
.nav-item a:hover{
  color:#827a3e !important;
  border-bottom: 2px solid #827a3e;
}
.view-svg{
  transition: .3s;
}
.view-svg:hover{
  background-color: rgb(242, 242, 198);
  border-radius: 10px;
  padding: 5px 7px;
  cursor: pointer;
}
.search-bar{
  height: 45px;
  border-radius: 10px 0 0 10px;
  outline: none;
}
.navbar-search{
  border: 1px solid rgba(128, 128, 128, 0.325);
  padding: 4px 6px;
  border-radius: 10px;

}
.sort-input{
  margin-left: 10px;
  outline: none;
  background-color: rgb(173, 166, 100);
  width: 160px;

}
.sort-input > option{
  color: beige;
  background-color: rgb(173, 166, 100);
}

.category-item li{
  cursor: pointer;
  display: flex;
  list-style: none;
  color: rgb(82, 82, 82);
  font-weight: 600;
  transition: .3s;
}
.active-category p{
  color:purple;
  border-bottom:2px solid purple;
}

.invalid-search input{
 background-color: rgb(236, 118, 118) !important;
color: white !important;
transition: .35s;
}
.error-search{
  transition: .3s;
  font-size: 13px;
  margin-bottom: 5px;
  width: 73%;
  border-radius: 10px;
  padding: 3px 6px;
  color: rgb(144, 4, 4);
  background-color: rgb(250, 102, 102);
}
.invalid-search span{
  background-color: rgb(236, 118, 118) !important;
 }

.category-item p{
  transition: .2s;
  margin: 0;
}
.category-item p:hover{
  color: black;
  transform: translateX(15px);
}

.category-item p::selection{
  color: red;
}

.nav-link{
  color:#050035 !important
}
/* Additional style codes */


.carousel-main img {
  width: 70%;
  height: 40em;
}


.nav-main{
  background: rgb(245, 245, 240) !important;
  height: 150px;
}



.nav-custom{
  border-bottom: 2px solid transparent;
  font-weight: 600;
  transition: .4s;
}

.carousel-item-single{
  border: 2px solid transparent;
  margin: 0 8px;
  padding:10px;
  border-radius: 10px;
  transition: .3s;
}
.carousel-item-single:hover{
  border: 2px solid orange;
  border-radius: 15px;

}

.offer-img {
  position: relative;
  text-align: center;
}

.offer-text {
  left: 0;
  position: absolute;
  top: 20px;
  writing-mode: vertical-rl;
}
.offer-text > h3 {
  color: #999999;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}
.offer-details-wrapper > h2 {
  border-bottom: 2px solid #383838;
  color: #383838;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 28px;
  margin: 0;
}
.offer-details-wrapper > p {
  color: #666666;
  font-size: 16px;
  line-height: 26px;
  margin: 35px 0 16px;
  width: 73%;
}
.offer-price-btn {
  display: flex;
}
.offer-old-price {
  color: #666666;
  font-size: 18px;
  margin-right: 12px;
  text-decoration: line-through;
}
.offer-new-price {
  color: #383838;
  font-size: 30px;
}
.offer-btn > a {
  color: #666666;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  text-transform: uppercase;
}
.offer-btn > a:hover {
  color: #333;
}
.offer-price {
  margin-right: 48px;
}
.offer-details-wrapper {
  margin-top: 107px;
}

.handicraft-banner-wrapper {
  margin: 0 0 30px;
}
.handicraft-banner-position {
  padding: 20px 25px;
}
.handicraft-banner-content > h3 {
  font-size: 19px;
  line-height: 28px;
}
.handicraft-banner-position2 {
  padding: 20px 25px;
}

.handicraft-banner-wrapper {
  margin: 0 30px 0 70px;
  position: relative;
}
.handicraft-banner-position {
  padding: 20px 50px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
}
.handicraft-banner-position2 {
  padding: 20px 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.handicraft-banner-wrapper > img {
  width: 100%;
}
.handicraft-banner-content > h3 {
  color: #383838;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 34px;
  margin-bottom: 20px;
}
.banner-btn {
  border: 1px solid #999999;
  border-radius: 50px;
  color: #666666;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 13px 20px 11px;
  text-transform: uppercase;
}
.banner-btn:hover {
  color: #fff;
  border: 1px solid #333;
}
.btn-hover.banner-btn::before {
  border-radius: 50px;
}

.footer-area{
  background-image: url("../src/Assets/Images/bgnav.jpg");
}
.footer-about > p {
  color: #e2e2e2;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 33px 0 22px;
  padding-right: 40px;
}
.footer-about li {
  display: inline-block;
  margin-right: 15px;
  
  transition: all .3s ease 0s;
}
.footer-about li:last-child {
  margin-right: 0px;
}
.footer-about li a {
  color: #e2e2e2;
  font-size: 16px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #f1f1f1;
  line-height: 35px;
  text-align: center;
}
.footer-about li a:hover {
  color: #f1f1f1;
  background-color: #666;
}
.footer-widget-title-4 {
  font-size: 18px;
  color: rgb(220, 219, 219);
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
  padding-bottom: 12px;
  position: relative;
  text-transform: uppercase;
}
.footer-widget-title-4::before {
  background-color: #d9d9d9;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
}
.footer-widget-content-4 li {
  margin-bottom: 7px;
  position: relative;
}
.footer-widget-content-4 li:last-child {
  margin-bottom: 0px;
}
.footer-widget-content-4 li a {
  color: #c0c0c0;
  display: block;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

.footer-widget-content-4 ul li::before {
  bottom: 0;
  height: 100%;
  position: absolute;
  right: 0;
  transition-duration: 0.3s;
  z-index: -9;
  opacity: 0;

}
.footer-widget-content-4 li:hover::before {
  opacity: 1;
}
.footer-widget-content-4 li:hover a {
  padding-left: 20px;
  color: #f3f3f3;
}

.copyright-handicraft > p {
  color: #333333;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 18px;
  margin: 0;
}
.details-9 {
  overflow: hidden;
}
.product-description{
  color: rgb(173, 166, 100);
}
.product-details-content > h3,
.inner-wrapper-sticky > h3 {
    color: #383838;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 13px;
}
.details-price > span {
    color: #050035;
    font-size: 24px;
    font-weight: 600;
}
.product-details-4 .easyzoom a img {
    width: 100%;
}
.product-details-5.pr-70 > img {
    width: 100%;
}
.product-details-content > p {
    color: #545454;
    margin-bottom: 33px;
}
.select-option-part {
    margin-bottom: 15px;
}

.select-option-part select {
    -moz-appearance: none;
    border: 1px solid #dcdcdc;
    box-shadow: none;
    color: #828282;
    font-size: 14px;
    height: 30px;
    outline: none;
    border-radius: 7px;
    width: 77%;
    text-align: center;
}

.product-details-cati-tag li.categories-title,
.product-share li.categories-title {
    color: #383838;
    font-size: 15px;
    text-transform: uppercase;
}

.product-details-cati-tag ul li {
    display: inline-block;
    margin: 0 8px 0 0;
    text-transform: capitalize;
}
.product-share li {
    display: inline-block;
    margin-right: 14px;
}
.product-details-cati-tag li a {
    text-transform: capitalize;
    color: #666;
    display: inline-block;
    letter-spacing: 0.4px;
}
.product-share > ul li {
    display: inline-block;
    margin-right: 14px;
}
.product-share > ul li a {
    border: 1px solid #3f3f3f;
    border-radius: 50px;
    color: #585858;
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 30px;
    line-height: 30px;
}
.product-details-cati-tag li a:hover {
    color: #050035;
}
.single-product-details{
  text-align: center;
  margin: 20px auto;
  padding: 10px 0;
  background-color: rgb(173, 166, 100);
  color: beige;
  border-radius: 10px;
  width: 80%;


}
.product-details img{
 height: 600px;
}
.product-share > ul li a:hover {
    background-color: #050035;
    border: 1px solid #050035;
    color: #fff;
}
.details-price {
    margin-bottom: 25px;
}
.product-details-large .easyzoom > a img , .details-9 .easyzoom > a img {
    width: 100%;
}
.product-details-small > a.active {
    position: relative;
}
.product-details-small > a.active::before {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 400ms ease-in 0s;
    z-index: 10;
}
.product-details-small a > img {
    width: 100%;
}
.product-details-small a:last-child {
    margin-right: 0;
}
.description-review-title {
    justify-content: center;
    margin-bottom: 44px;
}
.description-review-title a.active {
    color: #333333;
}
.description-review-title a {
    color: #666;
    font-size: 30px;
    font-weight: 600;
    margin: 0 20px;
}
.description-review-text .tab-pane p {
    color: #545454;
    font-size: 15px;
    margin: 0 auto;
    width: 61%;
}
#pro-review a {
    background-color: #282828;
    border: 0 none;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 10px 15px;
    text-shadow: none;
    text-transform: uppercase;
}
.product-details-tab.product-details-tab2 {
    display: flex;
}
.product-details-2 {
    flex: 0 0 125px;
}
.details-title {
    color: #383838;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 19px;
}
.product-color-2 {
    margin-bottom: 37px;
    overflow: hidden;
}
.product-color-style2 > ul li {
    border-radius: 50px;
    cursor: pointer;
    display: block;
    float: left;
    height: 19px;
    margin-right: 10px;
    position: relative;
    transition: all 0.4s ease 0s;
    width: 19px;
}
.product-color-style2 > ul li.blue2 {
    background: #425dff none repeat scroll 0 0;
}
.product-color-style2 > ul li.orange {
    background: #ff5d42 none repeat scroll 0 0;
    position: relative;
}
.product-color-style2 > ul li.pink {
    background: #fd42ff none repeat scroll 0 0;
}
.product-color-style2 > ul li.yellow {
    background: #ffd542 none repeat scroll 0 0;
}
.product-size-style2 li {
    display: inline-block;
    margin-right: 12px;
}
.product-size-style2 li a {
    color: #828282;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.product-size-2 {
    margin-bottom: 30px;
}
.product-size-style2 li a:hover {
    color: #050035;
}
.scroll-single-product > img {
    width: 100%;
}
.scroll-single-product {
    position: relative;
}
.scroll-single-product > a {
    background-color: #fff;
    border-radius: 50px;
    bottom: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    color: #050035 !important;
    font-size: 22px;
    height: 45px;
    line-height: 50px;
    position: absolute;
    right: 30px;
    text-align: center;
    transform: scale(0);
    width: 45px;
}
.scroll-single-product > a:hover {
    background-color: #050035;
    color: #fff !important;
}
.scroll-single-product:hover a {
    transform: scale(1);
}
.product-details5-social li {
    display: inline-block;
    margin-right: 27px;
}
.product-details5-social li a {
    color: #383838;
    font-size: 18px;
}
.product-details5-social li a:hover {
    color: #050035;
    font-size: 18px;
}
.quick-view-select label{
margin-bottom: 10px;
}
.single-details-gallery {
    flex: 0 0 290px;
    float: left;
}
.bundle-area > h3 {
    color: #383838;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.bundle-img {
    display: flex;
    margin: 34px 0 35px;
}
.single-bundle-img {
    cursor: pointer;
    margin-right: 11px;
    position: relative;
}
.single-bundle-img::before {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 400ms ease-in 0s;
}
.single-bundle-img a img {
    width: 100%;
}
.single-bundle-img:hover::before {
    opacity: 1;
}
.bundle-price ul li::before {
    color: #727272;
    content: "";
    font-family: "themify";
    font-size: 14px;
    left: 0;
    position: absolute;
    text-indent: inherit;
    top: 0;
}
.bundle-price ul li {
    color: #383838;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}
.bundle-result {
    margin-top: 32px;
}
.bundle-result > h4 span {
    color: #747373;
    font-weight: 400;
}
.bundle-result > h4 span .bundle-cross {
    position: relative;
}
.bundle-result > h4 span .bundle-cross {
    position: relative;
}

a.bundle-btn {
    background-color: #050035;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 1;
    padding: 17px 25px;
    position: relative;
    text-transform: uppercase;
    z-index: 9;
}
.details-9-content .rating-number,
.details-9-content .quickview-plus-minus {
    justify-content: center;
}
.details-9-content .product-details-content > p {
    margin: 0 auto;
    width: 54%;
}
.details-9-content .product-color-style2 > ul li {
    display: inline-block;
    float: inherit;
}
.product-content{
  text-align: center;
}
.product-content a {
  color: black;
  text-decoration: none;
}

.shop-page-padding .container-fluid {
  padding: 0 100px;
}
.sidebar-widget {
  display: block;
}
.amount{
  text-align: center;
  background-color: rgb(221, 221, 221) !important;
  width: 45%;
  padding: 6px 8px;
  border-radius: 10px;
}

.sidebar-title {
  color: #383838;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.product-tags ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  text-transform: capitalize;
}
.product-tags ul li a {
  color: #888;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.product-tags ul li a:hover {
  color: #050035;
}
.sidebar-search  {
  position: relative;
}
.sidebar-search input {
  background: #f1f1f1 none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  color: #8e8d8d;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 55px;
}
.sidebar-search  span {
  border-radius: 0 10px 10px 0;
  background-color: #dedede;
  border: medium none;
  color: #050035;
  cursor: pointer;
  font-size: 18px;
  height: 45px;
  line-height: 50px;
  padding: 0 16px;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
}

.sidebar-search svg{
  margin-bottom: 7px;
}
.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background: #ebebeb none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #222222;
  height: 3px;
  margin-bottom: 21px;
  margin-left: auto;
}
.price_filter .ui-slider-range {
  background: #b7b7b7 none repeat scroll 0 0;
  border-radius: 0;
  height: 100%;
  top: 0;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
  background: #b7b7b7 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0%;
  height: 15px;
  width: 4px;
}
.ui-slider-horizontal .ui-slider-handle {
  margin-left: 0;
  top: -6px;
}
.price_slider_amount {
  display: block;
  overflow: hidden;
}
.price_slider_amount {
  display: block;
  overflow: hidden;
}
.label-input {
  display: inline-block;
  float: left;
}
.label-input label {
  color: #575757;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}
.label-input input {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  color: #575757;
  font-size: 14px;
  font-weight: 600;
  height: inherit;
  padding-left: 5px;
  width: 99px;
}
.price_slider_amount > button {
  background-color: transparent;
  border: medium none;
  color: #575757;
  display: inline-block;
  float: right;
  font-weight: 600;
  line-height: 1;
  padding: 4px 0 0;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.sidebar-categories li {
  margin-bottom: 16px;
}
.sidebar-categories li a {
  color: #888888;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
}
.sidebar-categories li a span {
  float: right;
}
.product-color > ul li {
  border-radius: 50px;
  cursor: pointer;
  display: block;
  float: left;
  height: 22px;
  margin-right: 20px;
  text-indent: -9999px;
  transition: all 0.4s ease 0s;
  width: 22px;
}
.product-color > ul li.red {
  background: #050035 none repeat scroll 0 0;
}
.product-color > ul li.pink {
  background: #ff01f0 none repeat scroll 0 0;
}
.product-color > ul li.blue {
  background: #3649ff none repeat scroll 0 0;
}
.product-color > ul li.sky {
  background: #00c0ff none repeat scroll 0 0;
}
.product-color > ul li.green {
  background: #00ffae none repeat scroll 0 0;
}
.product-color > ul li.purple {
  background: #8a00ff none repeat scroll 0 0;
}
.sidebar-widget.sidebar-overflow {
  overflow: hidden;
}
.product-size li {
  display: inline-block;
  margin-right: 16px;
}
.product-size li a {
  color: #888888;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.single-top-rated {
  display: flex;
}
.top-rated-text {
  margin-left: 20px;
}
.top-rated-text > h4 {
  color: #383838;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.top-rated-rating {
  line-height: 1;
  margin: 9px 0 10px;
}
.top-rated-rating li {
  display: inline-block;
  margin-right: 2px;
}
.top-rated-text > span {
  color: #8b8b8b;
  font-weight: 600;
}
.shop-bar {
  display: flex;
  justify-content: space-between;
}
.shop-found-selector {
  display: flex;
}
.shop-found > p {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.shop-found > p span {
  color: #050035;
}
.shop-selector {
  margin-left: 63px;
  margin-top: -3px;
}
.shop-selector label {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.shop-selector select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0) url("../src/Assets/Images/4.png") no-repeat scroll right 0 center;
  border: medium none;
  box-shadow: none;
  color: #090909;
  font-size: 18px;
  height: inherit;
  line-height: 1;
  padding-left: 0;
  width: 113px;
}

.search-product-image{
  width: 300px;
  height: 350px;
  object-fit: cover;
}
.search-product-image {
  transition: .3s;
}

.shop-tab a {
  color: #6c6c6c;
  font-size: 23px;
  line-height: 1;
  margin-left: 10px;
  z-index: 99;
}
.shop-tab a:first-child {
  margin-left: 0;
}
.shop-tab a.active,
.shop-tab a:hover {
  color: #050035;
}
.pagination-style ul li {
  display: inline-block;
  margin: 0 3px;
}
.pagination-style ul li button {
  outline: none;
  background-color: rgb(173, 166, 100) !important;
  color:  beige;
  padding: 8px 14px;
  display: inline-block;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  line-height: 25px;
  border: none;
  border-radius: 5px;
}
.pagination-style ul li.active button,
.pagination-style ul li button:hover {
  background-color: #3f3f3f !important;
  color: #fff !important;
}
.single-product-list {
  display: flex;
}
.product-content-list {
  width: 100% ;
  margin-left: 30px;
}
.product-content-list a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.product-list-info > h4 {
  color: #191919;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.product-list-info > span {
  color: #666;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 11px 0 4px;
}
.product-list-info > p {
  color: #818181;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}


.list-btn-style {
  border: 1px solid #dcdcdc;
  border-radius: 50px;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1;
  padding: 15px 23px;
  text-transform: uppercase;
}
.list-btn-style.btn-hover::before,
.list-btn-wishlist.btn-hover::before {
  border-radius: 50px;
}
.list-btn-wishlist {
  border: 1px solid #dcdcdc;
  color: #727272;
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  padding: 10px 18px 8px;
  border-radius: 50px;
}
.list-btn-style:hover,
.list-btn-wishlist:hover {
  border: 1px solid transparent;
  color: #fff;
}
.product-action-list-style {
  top: 60%;
  transform: translateY(-50%);
  display: inline-block;
  left: 0;
  opacity: 0;
  padding: 0 20px;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.product-action-list-style a {
  background-color: #383838;
  border-radius: 100%;
  color: #f7f7f7;
  display: inline-block;
  font-size: 24px;
  height: 45px;
  line-height: 52px;
  margin: 0 15px;
  width: 45px;
}
.product-action-list-style a:hover {
  background-color: #050035;
  color: #fff;
}
.product-wrapper:hover .product-action-list-style {
  opacity: 1;
  top: 50%;
}
.list-img-width {
  position: relative;
  width: 50px !important; 
}
.product-price{
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(173, 166, 100);
  padding: 4px 12px; 
  width: 100%;
  border-radius: 10px;
  color: beige !important; 
}

.add-to-card-list{
  padding:0 20px;
}
.category-name-details{
  padding: 3px 0;
  color: beige;
  border-radius: 10px;
  width: 70%;
  margin: 10px auto;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  background-color: rgb(173, 166, 100);
}
.add-to-card-list button{
  border: 1px solid rgb(173, 166, 100);
  color: beige;
  border-radius: 10px;
  background-color: rgb(173, 166, 100);
  outline: none;
  padding: 6px 0;
  transition: .3s;
  margin-top: 10px;
}
.add-to-card-list a {
  color: beige;
  font-size: 16px;
  border: 2px solid rgb(173, 166, 100);
  background-color: rgb(173, 166, 100);
  padding: 10px 15px;
  transition: .3s;
  border-radius: 10px;
}
.add-to-card-list a:hover{
  color:rgb(173, 166, 100) ;
  background-color: transparent;
  border-radius: 15px;
}
.add-to-card-list button:hover{
  color:rgb(173, 166, 100) ;
  background-color: transparent;
  border-radius: 15px;
}


.breadcrumb-padding .container-fluid {
  padding: 0 100px;
}
.product-box-style .product-action a {
  margin: 0 7px;
}
.whole-product{
  position: relative;
  overflow: hidden;
}
.whole-product:hover .view-detail{
top: 38%;
opacity: 1;
z-index: 1;
}
.whole-product:hover img{
  opacity: 0.4;
}
.view-detail{
  position: absolute;
  border-radius: 15px;
  color: beige;
  background-color: rgba(173, 166, 100, 0.757) ;
  padding: 10px 15px;
  top: 60%;
  opacity: 0;
  right: 30%;
  transition: .3s;
}
.discount{
  position: absolute;
  z-index: 10;
  width: 80%;
  background-color: rgba(241, 109, 109, 0.767);
  color: beige;
  text-decoration: none;
  bottom: 20%;
  border-radius: 0 10px 10px 0;
  width: 80px;
  text-align: center;
}
.old-price{
  color: rgb(248, 176, 176);
  margin-right: 10px;
  text-decoration: line-through;
}

.story-img {
  position: relative;
}
.story-img > img {
  width: 100%;
}
.about-logo {
  margin: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.about-logo h3 {
  background-color: #050035;
  border-radius: 100%;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  position: relative;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 185px;
  height: 185px;
  line-height: 185px;
}
.about-logo h3::before {
  border: 1px solid #fff;
  border-radius: 100%;
  content: "";
  height: 152px;
  left: 17px;
  line-height: 144px;
  position: absolute;
  top: 17px;
  width: 152px;
}
.story-details-top > h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.story-details-top > h2 span {
  color: #050035;
}
.story-details-top > p,
.story-details-bottom > p,
.goal-wrapper.mb-30 > p {
  color: #666;
  letter-spacing: 0.4px;
  line-height: 26px;
  margin: 0;
}
.story-details-top {
  margin-bottom: 48px;
}
.story-details-bottom > h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.story-details-bottom {
  margin-bottom: 48px;
}
.story-details-bottom:last-child {
  margin-bottom: 0px;
}
.goal-wrapper.mb-30 > h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 14px;
}
.goal-wrapper > p {
  padding-right: 30px;
}
.about-section > h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 23px;
  text-transform: uppercase;
}
.about-section > p,
.choose-wrapper > p {
  color: #666;
  letter-spacing: 0.4px;
  line-height: 26px;
  margin: 0;
}
.about-section {
  width: 62%;
}
.choose-wrapper > h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.choose-wrapper {
  margin-bottom: 31px;
}
.choose-wrapper:last-child {
  margin-bottom: 0px;
}
.about-section {
  margin-bottom: 41px;
  width: 62%;
}
.choose-banner-wrapper {
  margin-left: 70px;
  position: relative;
}
.choose-banner-text {
  left: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.choose-banner-text > h4 {
  color: #202020;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
.choose-banner-text > h3 {
  color: #202020;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 37px;
}
.choose-banner-text > h3 span {
  font-size: 52px;
  font-weight: bold;
}
.testimonials-area{
  /* background-image: url("../src/Assets/Images/17.jpg") */
}
.choose-banner-text > a {
  color: #303030;
  display: inline-block;
  font-weight: 600;
  text-decoration: underline;
}
.choose-banner-wrapper > img {
  width: 100%;
}
.all-causes {
  margin-top: 30px;
}
.team-area > img {
  width: 100%;
}

.map-size {
  height: 402px;
  width: 100%;
}
.contact-input-style input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ececec;
  color: #666666;
  font-size: 14px;
  height: 35px;
  padding: 0 20px;
  width: 100%;
  line-height: 35px;
}
.contact-textarea-style textarea {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ececec;
  color: #666666;
  font-size: 14px;
  padding: 0 20px;
  width: 100%;
  height: 170px;
  line-height: 35px;
}
.contact-input-style label,
.contact-textarea-style label {
  color: #383838;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.contact-title > h4 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact-btn {
  background-color: #333;
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  padding: 11px 25px 13px;
  z-index: 1;
  font-weight: 500;
  text-transform: uppercase;
}
.single-contact-info {
  display: flex;
  margin-bottom: 15px;
}
.contact-info-icon {
  width: 35px;
}
.contact-info-icon i {
  color: #383838;
  font-size: 22px;
}
.contact-info-text > p {
  color: #383838;
  margin: 0;
}
.contact-info-text > p span {
  font-weight: 600;
}

.success-message{
  background-color: rgba(107, 231, 91, 0.712);
  color: rgb(255, 255, 255);
  opacity: 1;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
}
.error-message{
  transition: .3s;
  font-size: 17px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: rgb(250, 102, 102);
}

.cart-container{
  border-radius: 10px;
  z-index: 100000;
  position: absolute;
  right: 5%;
  top: 90%;
  background-color: rgba(230, 230, 228, 0.925);
  width: 300px;
  padding: 10px 0;
  border: 2px solid rgb(173, 166, 100);
  min-height: 120px;
  max-height: 600px;

}
.cart-container p{
  font-weight: 600;
}
.cart-container h5{
  color: rgb(173, 166, 100);
}
.cart-item{
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(189, 189, 189);
}
.cart-img{
  border-radius: 5px;
  width: 85px;
  height: 120px;
}


.clear-cart-btn{
  color: beige !important;
  background-color: rgb(173, 166, 100);
  border: 1px solid rgb(173, 166, 100);
  border-radius: 10px;
  transition: .3s;
  padding: 3px 7px;
  
}

.to-cart a{
  color: beige !important ;
  background-color: rgb(173, 166, 100);
  border: 1px solid rgb(173, 166, 100);
  border-radius: 10px;
  transition: .3s;
  border: 2px solid rgb(173, 166, 100);
  text-decoration: none;

  padding: 3px 5rem;
}
.clear-cart-btn:hover{
  color: rgb(173, 166, 100);
  background-color: transparent;
  border-radius: 15px;
}
.to-cart a:hover{
  color: rgb(173, 166, 100) !important;
  background-color: transparent !important;
  border: 2px solid rgb(173, 166, 100);
  border-radius: 15px;
}
.remove-cart-item{
  border: 1px solid transparent;
  border-radius: 10px;
  transition: .3s;
  padding: 3px 7px;
}
.remove-cart-item {
  color: red;
}
.remove-cart-item:hover{
  color: white;
  background-color: red;
}

.cart-items{
  color: rgb(173, 166, 100);
  padding: 15px 20px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cart-items::-webkit-scrollbar {
  width: 10px;
}
.cart-items::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.cart-items::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.cart-items::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.cart-button button{
  font-size: 19px;
  border: 1px solid rgb(173, 166, 100);
  background-color: rgb(173, 166, 100);
  color:beige !important ;
  border-radius: 10px;
  padding: 5px 8px;
  cursor: pointer;
  font-weight: 600;
  transition: .3s;
  position: relative;
}
.cart-button button:hover{
  color: rgb(173, 166, 100) !important;
  border-radius: 15px;
  background-color: transparent;
}
.button-box button{
  font-size: 19px;
  border: 1px solid rgb(173, 166, 100);
  background-color: rgb(173, 166, 100);
  color:beige !important ;
  border-radius: 10px;
  padding: 10px 40px;
  cursor: pointer;
  font-weight: 600;
  transition: .3s;
}
.button-box button:hover{
  color: rgb(173, 166, 100) !important;
  border-radius: 15px;
  background-color: transparent;
}
.cart-count{
  position: absolute;
  background-color: rgb(105, 101, 63);
  top: -50%;
  right: -15%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.cart-count-detail input{
margin-left: 5px;
outline: none;
width: 50px;
border-radius: 10px;
padding: 3px 6px;
border: 1px solid rgba(207, 207, 207, 0.719) !important;
}

.icon-cart i {
  color: #050035;
  font-size: 35px;
  transition: all .3s ease 0s;
}

.icon-cart i:hover {
  color: #666;
}
.icon-cart {
  display: block;
  position: relative;
}
.cart-dropdown {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  padding: 20px 20px 47px;
  position: absolute;
  right: 0;
  top: 140%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 316px;
  z-index: 9999;
}
.single-product-cart {
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.single-product-cart:last-child {
  border-bottom: 0px solid #f6f6f6;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.cart-delete {
  display: flex;
  flex-grow: 100;
  justify-content: flex-end;
}
.cart-title {
  margin: 19px 0 0 15px;
}
.cart-title h5,
.cart-title h6,
.cart-title span {
  color: #070b21;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
  text-transform: capitalize;
}
.cart-title h5 a,
.cart-title h6 a {
  color: #070b21;
}
.cart-delete > a {
  color: #070b21;
  font-size: 18px;
  margin-top: 18px;
}
.cart-delete > a:hover,
.cart-title h5 a:hover,
.cart-title h6 a:hover {
  color: #050035;
}
.cart-title > span {
  display: block;
  margin: 9px 0 0;
}
.cart-space {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.cart-sub > h4 {
  color: #070b21;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
.cart-price > h4 {
  color: #070b21;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.cart-btn-wrapper {
  display: flex;
  justify-content: space-between;
}
.cart-btn {
  border: 1px solid #666666;
  color: #070b21;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: 12px 21px 10px;
  text-transform: uppercase;
}
.cart-btn:hover {
  border: 1px solid #000;
  color: #fff;
}
.header-cart:hover .cart-dropdown,
.header-cart-2:hover .cart-dropdown {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.header-login ul li {
  display: inline-block;
  margin-right: 18px;
  position: relative;
}
.header-login ul li:last-child {
  margin-right: 0px;
}
.header-login ul li::after {
  background-color: #050035;
  content: "";
  font-size: 8px;
  height: 12px;
  position: absolute;
  right: -12px;
  top: 4px;
  width: 1px;
}
.header-login ul li a {
  color: #050035;
  font-size: 14px;
  text-transform: uppercase;
}
.header-login ul li a:hover {
  color: #666;
}
.shop-count {
  background-color: #050035;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  position: absolute;
  right: -26px;
  text-align: center;
  top: 5px;
  width: 25px;
}
.header-cart {
  margin-left: 41px;
  position: relative;
}
.header-login {
  margin-left: 41px;
  margin-top: 7px;
}
.header-search {
  margin-top: 4px;
}

/* 2.5 Slider style */

.slider-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 103px;
  z-index: 999;
}
.slider-content-style-1 h1 {
  color: #050035;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 6px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.slider-content-style-1 p {
  color: #050035;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .6px;
  margin: 0;
}
.owl-item .slider-animation * {
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-item.active .slider-animated-1 h1 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.owl-item.active .slider-animated-1 p {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.owl-item.active .slider-animated-1 .text-bg {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.owl-item.active .slider-animated-2 h1 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.owl-item.active .slider-animated-2 p {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.position-slider-img {
  position: absolute;
  right: 175px;
  top: 160px;
  width: 669px;
  display: flex;
}
.slider-img-1 {
  margin-right: -285px;
  margin-top: 60px;
  width: 450px;
}
.slider-img-2 {
  width: 397px;
  z-index: 99;
}
.slider-img-4 {
  width: 600px;
  z-index: 99;
}
.slider-img-4.slider-mrg {
margin-right: 70px;
}
.slider-img-3 {
  margin-left: -414px;
  margin-top: 150px;
  width: 450px;
}
.slider-img-1 img,
.slider-img-3 img {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

h1.cart-heading {
  color: #252525;
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.cart-title-area {
  padding-top: 30px;
}
.car-header-title h2 {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}
.table-content table {
  background: #fff none repeat scroll 0 0;
  border-color: #e5e5e5;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  margin: 0 0 50px;
  text-align: center;
  width: 100%;
  border: none;
}
.wishlist .table-content table {
  margin: 0 0 0px;
}
.table-content.wish table {
  margin: 0 0 0px;
}
.table-content table th {
  border-top: medium none;
  color: #555;
  font-size: 16px;
  font-weight: normal;
  padding: 15px 10px 12px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}
.table-content table td {
  border-top: medium none;
  padding: 40px 10px;
  vertical-align: middle;
  font-size: 13px;
}
.table-content table td input {
  background: #e5e5e5 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #6f6f6f;
  font-size: 15px;
  font-weight: normal;
  height: 40px;
  padding: 0 5px 0 10px;
  width: 60px;
}
.table-content table td.product-subtotal {
  color: #555;
  font-size: 15px;
  width: 120px;
}
.table-content table td.product-name a {
  color: #6f6f6f;
  font-size: 15px;
  margin-left: 10px;
}
.table-content table td.product-name a:hover {
  color: #050035;
}
.table-content table td.product-name {
  width: 270px;
}
.table-content table td.product-thumbnail {
  width: 130px;
}
.table-content table td.product-remove i {
  color: #919191;
  display: inline-block;
  font-size: 35px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}
.table-content table .product-price .amount {
  color: #555;
  font-size: 15px;
}
.table-content table td.product-remove i:hover {
  color: #050035;
}
.table-content table td.product-quantity {
  width: 180px;
}
.table-content table td.product-remove {
  width: 150px;
}
.table-content table td.product-price-cart {
  width: 130px;
}
thead {
  background-color: #f6f6f6;
}

.cart-page-total span {
  float: right;
}
.cart-page-total > ul {
  border: 1px solid #ddd;
}
.cart-page-total li {
  border-bottom: 1px solid #ddd;
  color: #555;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
}
.cart-page-total li:last-child {
  border-bottom: none;
}
.cart-page-total {
  padding-top: 50px;
}
.cart-page-total > a {
  background-color: rgb(173, 166, 100);
  border: 1px solid rgb(173, 166, 100);
  color: beige;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-top: 30px;
  padding: 9px 20px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.cart-page-total > a:hover {
  background-color: transparent;
  color: rgb(173, 166, 100);
  border-radius: 10px;
 
}
.cart-page-total > h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.coupon-accordion h3 {
  background-color: #f7f6f7;
  border-top: 3px solid #050035;
  color: #515151;
  font-size: 14px;
  font-weight: 400;
  list-style: outside none none !important;
  margin: 0 0 2em !important;
  padding: 1em 2em 1em 3.5em !important;
  position: relative;
  width: auto;
}
.coupon-accordion h3::before {
  color: #333;
  content: "";
  display: inline-block;
  font-family: "Pe-icon-7-stroke";
  font-size: 30px;
  left: 10px;
  position: absolute;
  top: 3px;
}
.coupon-accordion span {
  cursor: pointer;
  color: #6f6f6f;
}
.coupon-accordion span:hover,
p.lost-password a:hover {
  color: #050035;
}
.coupon-content {
  border: 1px solid #e5e5e5;
  display: none;
  margin-bottom: 20px;
  padding: 20px;
}
.coupon-info p.coupon-text {
  margin-bottom: 15px;
}
.coupon-info p {
  margin-bottom: 0;
}
.coupon-info p.form-row-first label,
.coupon-info p.form-row-last label {
  display: block;
}
.coupon-info p.form-row-first label span.required,
.coupon-info p.form-row-last label span.required {
  color: red;
  font-weight: 700;
}
.coupon-info p.form-row-first input,
.coupon-info p.form-row-last input {
  border: 1px solid #e5e5e5;
  height: 36px;
  margin: 0 0 14px;
  max-width: 100%;
  padding: 0 0 0 10px;
  width: 370px;
  background-color: transparent;
}
.coupon-info p.form-row input[type="submit"]:hover,
p.checkout-coupon input[type="submit"]:hover {
  background: #050035 none repeat scroll 0 0;
}
.coupon-info p.form-row input[type="checkbox"] {
  height: inherit;
  position: relative;
  top: 2px;
  width: inherit;
}
.form-row > label {
  margin-top: 7px;
}
p.lost-password {
  margin-top: 15px;
}
p.lost-password a {
  color: #6f6f6f;
}
p.checkout-coupon input[type="text"] {
  background-color: transparent;
  border: 1px solid #ddd;
  height: 36px;
  padding-left: 10px;
  width: 170px;
}
p.checkout-coupon input[type="submit"] {
  background: #333 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  height: 36px;
  margin-left: 6px;
  padding: 5px 10px;
  transition: all 0.3s ease 0s;
  width: inherit;
}
.coupon-checkout-content {
  margin-bottom: 30px;
  display: none;
}
.checkbox-form h3 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 25px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
}
.country-select {
  margin-bottom: 30px;
  position: relative;
}
.country-select label,
.checkout-form-list label {
  color: #333;
  margin: 0 0 5px;
  display: block;
}
.country-select label span.required,
.checkout-form-list label span.required {
  color: red;
}
.country-select select {
  -moz-appearance: none;
  border: 1px solid #ddd;
  height: 32px;
  padding-left: 10px;
  width: 100%;
  background-color: transparent;
}
.country-select::before {
  content: "";
  display: inline-block;
  font-family: "Pe-icon-7-stroke";
  font-size: 26px;
  position: absolute;
  right: 12px;
  top: 23px;
}
.checkout-form-list {
  margin-bottom: 30px;
}
.checkout-form-list label {
  color: #333;
}
.checkout-form-list input[type=text],
.checkout-form-list input[type=password],
.checkout-form-list input[type=email] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  height: 42px;
  width: 100%;
  padding: 0 0 0 10px;
}
.checkout-form-list input[type="checkbox"] {
  display: inline-block;
  height: inherit;
  margin-right: 10px;
  position: relative;
  top: 2px;
  width: inherit;
}
.ship-different-title input {
  height: inherit;
  line-height: normal;
  margin: 4px 0 0;
  position: relative;
  top: 1px;
  width: 30px;
}
.create-acc label {
  color: #333;
  display: inline-block;
}
.create-account {
  display: none;
}
.ship-different-title h3 label {
  display: inline-block;
  margin-right: 20px;
  font-size: 25px;
  color: #363636;
}
.order-notes textarea {
  background-color: transparent;
  border: 1px solid #ddd;
  height: 90px;
  padding: 15px;
  width: 100%;
}
#ship-box-info {
  display: none;
}
.your-order {
  background: #f2f2f2 none repeat scroll 0 0;
  padding: 30px 40px 45px;
}
.your-order h3 {
  border-bottom: 1px solid #d8d8d8;
  font-size: 25px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
}
.your-order-table table {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  width: 100%;
}
.your-order-table table th,
.your-order-table table td {
  border-bottom: 1px solid #d8d8d8;
  border-right: medium none;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
}
.your-order-table table th {
  border-top: medium none;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  width: 250px;
}
.your-order-table table .shipping ul li input {
  position: relative;
  top: 2px;
}
.your-order-table table .shipping th {
  vertical-align: top;
}
.your-order-table table .order-total th {
  border-bottom: medium none;
  font-size: 18px;
}
.your-order-table table .order-total td {
  border-bottom: medium none;
}
.your-order-table table tr.cart_item:hover {
  background: #F9F9F9;
}
.your-order-table table tr.order-total td span {
  color: #464646;
  font-size: 20px;
}
.payment-method {
  margin-top: 40px;
}
.payment-accordion h3 {
  border-bottom: 0 none;
  margin-bottom: 10px;
  padding-bottom: 0;
}
.payment-accordion h3 a {
  color: #6f6f6f;
  font-size: 14px;
  padding-left: 25px;
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
}
.payment-content p {
  font-size: 13px;
}
.payment-accordion img {
  height: 60px;
  margin-left: 15px;
}
.order-button-payment input {
  background: rgb(173, 166, 100) none repeat scroll 0 0;
  border: 2px solid rgb(173, 166, 100);
  color: beige;
  font-size: 17px;
  font-weight: 600;
  height: 50px;
  margin: 20px 0 0;
  padding: 0;
  text-transform: uppercase;
  transition: .3s;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}
.order-button-payment input:hover {
  background: transparent;
  border: 2px solid rgb(173, 166, 100);
  color: rgb(173, 166, 100);
  border-radius: 10px;

}
.coupon-info p.form-row input[type="submit"] {
  background: #252525 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
  padding: 0 30px;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  width: inherit;
}
.mrg-nn {
  margin-bottom: 0;
}
h5.panel-title {
  color: #444;
  font-weight: 600;
}
.panel-body > p {
  margin-bottom: 0;
  color: #666;
}
.panel.panel-default {
  padding-bottom: 20px;
}
.login-form h2{
  color: rgb(173, 166, 100);
}
.back-pattern{
  height: 80vh;
  width: 100vw;
  background-image: url("./Assets/Images/rm452-f-014.jpg");
}
.login{
  height: 80vh;
  background: whitesmoke ;
  padding: 10px 40px;
}
.login-form-container {
  text-align: left;
  border-radius: 40px;
}
.login-text {
  margin-bottom: 30px;
  text-align: center;
}
.login-text h2 {
  color: #444;
  font-size: 30px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.login-text span {
  font-size: 15px;
}
.login-form-container input {
  background: none;
  border: none;
  border-bottom: 2px solid rgb(173, 166, 100) !important;
  border-radius: 7px;
  outline: none;
  box-shadow: none;
  color: #999;
  font-size: 16px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  outline: none;
}
.login-form-container input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.login-toggle-btn {
  padding-top: 10px;
}
.login-form-container input[type="checkbox"] {
  height: 15px;
  margin: 0;
  position: relative;
  top: 1px;
  width: 17px;
}
.login-form-container label {
  color: #777;
  font-size: 15px;
  font-weight: 400;
}
.login-toggle-btn > a {
  color: #777;
  float: right;
  transition: all 0.3s ease 0s;
}
.login-toggle-btn > a:hover {
  color: #000;
}
.button-box .default-btn {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #777;
  font-size: 14px;
  line-height: 1;
  margin-top: 25px;
  padding: 12px 36px 10px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  border-radius: 50px;
}
.button-box .default-btn:hover {
  background-color: #050035;
  border: 1px solid #050035;
  color: #fff;
}
.password-container{
  position: relative;
}
#eye-visible{
  right: 3%;
  top:13%;
  position: absolute;
  cursor: pointer;
}
#eye-unvisible{
cursor: pointer;
position: absolute;
right: 10px;
right: 3%;
top:13%;
}

.pattern-welcome{
  background-color: rgb(173, 166, 100);
  color: beige;
  border: 2px solid beige;
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(-15%,-15%);
  right: 50%;
}

.loading-bar {
  width: 200px;
  height: 20px;
  background-color: rgb(173, 166, 100);
  border-radius: 10px;
  margin: 10px 0;
  animation: loading 2s linear forwards;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}






